#tutorials {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #191d1e;
  color: #a1a3a8;
  font-size: 14px;
  gap: 30px;
  padding: 0 20px 40px 20px;
  overflow-y: scroll;
}

#tutorials button,
#tutorials input {
  border: none;
  cursor: pointer;
}

#tutorials h2,
#tutorials p {
  padding: 0 0 10px 0;
}

/* tutorials form */
.tutorials__form > .form__reading {
  display: flex;
  justify-content: space-between;
}

.reading__description > .description__title::after {
  content: "tutorials";
  color: #ebe4e4;
}

.reading__button {
  background-color: #191d1e;
}

.offer__button > .button__dots,
.reading__button > .button__dots {
  width: 14px;
  height: 14px;
}

.form__send {
  display: flex;
  justify-content: space-between;
}

.send__input,
.send__button {
  border-radius: 6px;
  color: #e2dcdc;
}

.send__input {
  min-width: 120px;
  width: 75%;
  height: 45px;
  padding-left: 15px;
  margin-right: 15px;
  background-color: #282a2b;
}

.send__button {
  min-width: 40px;
  width: 20%;
  height: 45px;
  background-color: #333536;
}

/* tutorials meeting */
.tutorials__meeting {
  display: flex;
  flex-direction: column;
}

.meeting__reading {
  display: flex;
  justify-content: space-between;
  color: #e2dcdc;
  align-items: center;
  margin: 30px 0 8px 0;
}

.reading__button {
  display: flex;
  align-items: center;
}

.meeting__img {
  min-width: 350px;
  min-height: 200px;
  height: 28vh;
  border-radius: 12px 12px 0 0;
}

/* tutorials students */
.tutorials__students {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.students__text {
  font-size: 16px;
  color: #e2dcdc;
}

.students__profiles {
  display: flex;
  margin-left: 20px;
}

.profiles__img,
.profiles__more {
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-left: -10px;
  border-radius: 20px;
  border: 5px solid #191d1e;
}

.profiles__img--margin {
  margin-left: -20px;
}

.profiles__on {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: rgb(95, 226, 117);
  right: 35px;
  top: 27px;
}

.profiles__more {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin-left: 5px;
  background-color: #323337;
  color: #256edb;
}

/* tutorials buy */
.tutorials__buy {
  padding: 15px 0 0 0;
}

.buy__poster {
  display: flex;
  flex-direction: column;
}
.buy__upper {
  display: flex;
  gap: 20px;
}

.poster__offer > .offer__title::after {
  content: "offers";
  color: #e2dcdc;
}

.offer__button {
  background-color: #191d1e;
}

.offer__button--spacing {
  margin-right: 220px;
}

.button__next {
  width: 20px;
  height: 20px;
}

.buy__banner {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 350px;
  /* height: 20vh; */
  gap: 100px;
  border-radius: 12px;
  background: rgb(124, 121, 252);
  background: linear-gradient(
    112deg,
    rgba(124, 121, 252, 1) 0%,
    rgba(124, 121, 252, 1) 20%,
    rgba(220, 143, 198, 1) 100%
  );
}

.banner__img {
  width: 100px;
  height: 100px;
}

.banner__logo > .logo__text {
  margin: 0 0 15px -6px;
  color: #323337;
}

.logo__button {
  width: 140px;
  height: 45px;
  background-color: #323337;
  color: #fff;
  border-radius: 6px;
}

#tutorials.lightMode {
  background-color: white;
  color: black;
}

#tutorials.lightMode .description__title::after,
#tutorials.lightMode .offer__title::after,
#tutorials.lightMode .reading__title span {
  color: #00a8f3;
}

#tutorials.lightMode .reading__title,
#tutorials.lightMode .students__text {
  color: black;
}

#tutorials.lightMode .profiles__img,
#tutorials.lightMode .profiles__more {
  border: 5px solid white;
}

#tutorials.lightMode .send__button,
#tutorials.lightMode .send__input {
  background-color: #e6e7e7;
  color: black;
}

#tutorials.lightMode .reading__button,
#tutorials.lightMode .offer__button,
#tutorials.lightMode .button__next {
  background-color: transparent;
}

/* media */
@media screen and (max-width: 1600px) {
  #tutorials {
    font-size: 12px;
  }

  .tutorials__buy {
    padding: 15px 0 0 0;
  }
}

@media screen and (max-width: 1200px) {
  .meeting__reading {
    margin: 0;
  }

  .meeting__img {
    min-width: 230px;
    height: 20vh;
  }

  .offer__button--spacing {
    margin-right: 50px;
  }

  .banner__img {
    width: 70px;
    height: 70px;
  }

  .logo__button {
    width: 100px;
    height: 45px;
  }

  .buy__banner {
    min-width: 230px;
    gap: 24px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 798px) {
  #tutorials {
    padding: 15px 20px 0 20px;
  }

  .meeting__img {
    min-width: 230px;
    height: 27vh;
  }

  .banner__img {
    width: 70px;
    height: 70px;
  }

  .buy__banner {
    gap: 25px;
  }
}
