#watch {
  background-color: #191d1e;
  color: #e2dcdc;
  padding: 0 56px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.watch button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.watch h3 {
  color: #ebe4e4;
}

.watchNow__menu .menu__description span,
.tutors__menu .menu__description {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.watch__watchNow {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.description__nextButton {
  height: 20px;
}

.description__nextButton img {
  width: 20px;
}

.menu__button,
.options__button,
.options__search{
  height: 23px;
}

.menu__button img,
.options__button img,
.tutors__menu > .menu__options > .options__search img{
  width: 14px;
}

.watchNow__menu > .menu__description,
.tutors__menu > .menu__options,
.watch__tutors{
  gap: 20px;
}

.watchNow__streamsList {
  display: flex;
  gap: 17px;
  padding: 1px;
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
  list-style: none;
}

.stream__img {
  width: 50px;
  border-radius: 50%;
  border: 2px solid pink;
}

.stream__img:hover {
  transform: scale(1.05);
  transition: 200ms;
}

.watch__popular,
.popular__item{
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.watch__tutors {
  display: flex;
  flex-direction: column;
}

.popular__content{
  display: flex;
}

.watchNow__menu,
.watchNow__menu .menu__description,
.tutors__menu .menu__options,
.popular__menu,
.tutors__menu{
  display: flex;
  justify-content: space-between;
}

.popular__content {
  gap: 22px;
}

.popular__item {
  min-width: 255px;
  max-width: 360px;
}

.popular__item:hover {
  transform: scale(1.05);
  transition: 200ms;
}

.popular__item > img{
  border-radius: 15px;
}

.item__description {
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
}

.item__description button img{
  width: 18px;
}

.popular__item .item__description,
.popular__item .item__description img{
  cursor: pointer;
}

.options__filter {
  background-color: transparent;
  width: 100px;
  height: 27px;
  padding: 0 5px;
}

.tutors__menu > .menu__options > .options__filter {
  border: 1px solid #629F7E;
  border-radius: 12px;
  color: #629F7E;
}

.tutors__list {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
}

.tutors__list .list__tutor {
  display: flex;
  color: white;
  padding: 28px;
  background-color: #202425;
  width: 360px;
  border-radius: 12px;
}

.tutors__list .list__tutor:hover {
  transform: scale(1.05);
  transition: 200ms;
}

.tutor__pic {
  width: 50px;
  border-radius: 50%;
}

.tutor__description {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  width: 200px;
  height: 100%;
  padding-left: 20px;
}

.tutor__subject {
  color: #a1a3a8;
}

.tutor__add {
  width: 45px;
  padding: 15px;
  border-radius: 50%;
  background-color: #191d1e;
}

@media screen and (min-width: 2705px) {
  .watch div {
    max-width: 1125px;
  }
}

@media screen and (max-width: 1425px) {
  .popular__content,
  .tutors__list {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 1000px) {
  #watch {
    padding: 0 30px;
  }
}

@media screen and (max-width: 798px) {
  #watch {
    padding: 0 16px;
  }
}

@media screen and (max-width: 380px) {
  .tutors__list .list__tutor {
    padding: 15px;
    width: 300px;
  }

  .tutor__description  {
    width: 200px;
  }
}

@media screen and (max-width: 340px) {
  .popular__item {
    width: 240px;
  }

  .tutors__list .list__tutor {
    padding: 15px;
    width: 240px;
  }

  .tutor__description  {
    width: 100px;
  }
}

.watchNow__streamsList::-webkit-scrollbar{
    height: 8px;
}

.watchNow__streamsList::-webkit-scrollbar-thumb {
    background-color: #272830;
    border-radius: 4%;
}